<div [formGroup]="playerNames" fxLayout="column">
    <mat-form-field appearance="outline">
        <mat-label>Player 1 Name</mat-label>
        <input formControlName="player1" matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Player 2 Name</mat-label>
        <input formControlName="player2" matInput type="text">
    </mat-form-field>

    <div fxLayoutGap="8px">
        <button (click)="playAsGuest()" mat-raised-button color="primary">Play as guest</button>
        <button (click)="submitPlayerName()" mat-stroked-button color="warn">Submit Name</button>
        <mat-spinner *ngIf="isLoading" [diameter]="15"></mat-spinner>
    </div>
</div>
