<button (click)="openDialog()">Edit Player Names</button>
<h1 fxLayoutAlign="center center">Welcome to Tic Tac Toe Multivers</h1>
<div fxLayoutAlign="center center">
  <div fxFlex="70" class="grid-area">
    <div *ngFor="let myRow of RunLoop(); let i = index">
      <mat-grid-list
        cols="{{ gerColsSize(5) }}"
        rowHeight="1:1"
        gutterSize="0px"
      >
        <mat-grid-tile
          style="border: 5px solid blueviolet"
          [class]="changeColor()"
          *ngFor="let grid of RunLoop(); let j = index"
        >
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
